body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.m2 {margin: 20px;}

.box {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    
}

.text {
    font-size: 60px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    inset: 5%;
    background-color: #ddd;
    border-radius: 10px;
    width: 90vw;
    height: 90vh;

}

.close {
    cursor: pointer;
    border-radius: 100%;
    background-color: #aaa;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 20px;
    height: 20px;
    padding: 5px 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.close-position {
    position: absolute;
    right: 10px;
    top: 10px;
}